*{
    background-color: black;
    color: white;
}

#flix{
    text-align: center;
color: white;

}

#now{
    display: flex;
color: white;
 
}
#search-form {
    text-align: center; 
    
   }

#search-button {
    color: black;
    background-color: white;

}
#clear-button {
    color: black;
    background-color: white;

}
#search-input {
    color: black;
    background-color: white;

}
#load-more{

    padding: 10px; 
    font-size: 15px;
    

}

#load-more-area{
    display: flex;
    justify-content: center;
    
}

.movie-container{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;
align-content: center;
margin: 20px;
padding: 30px;
text-align: center;
}

.movie{
width: 300px;
padding: 35px;

}

.movie:hover{
    transform: scale(1.12);    
}
.name{

font-size: 20px;  
  font-weight: bolder;
}
